
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Login - Jaffar</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900">
    <script>
        if (localStorage.getItem('user_email')) {
            const urlParams = new URLSearchParams(window.location.search);
            const redirect = urlParams.get('redirect') || '/';
            window.location.href = redirect;
        }
    </script>
    <div class="fixed flex h-screen w-screen items-center justify-center bg-gray-900 text-white">
        <div class="grid grid-cols-2 items-center place-items-center border w-screen mx-auto h-screen">
            <div class="flex flex-col w-1/3">
                <label class="ml-2 text-sm font-medium">Your email:</label>
                <input 
                    required
                    class="mt-1 w-full px-4 py-2 bg-gray-900 border border-gray-600 rounded-lg focus:ring-red-500 focus:border-red-500"
                    type="text" 
                    id="author-email"
                />
                <button onclick="login()" class="hover:cursor-pointer bg-red-600 px-4 py-2 rounded text-center font-bold mt-4">
                    Login
                </button>
            </div>
            <div class="">
                <h1 class="text-white text-8xl">JAFFAR</h1>
            </div>
        </div>
    </div>

    <script>
    function login() {
        const email = document.getElementById('author-email').value;
        if (email && email.length > 0) {
            localStorage.setItem('user_email', email);
            const urlParams = new URLSearchParams(window.location.search);
            const redirect = urlParams.get('redirect') || '/';
            window.location.href = redirect;
        }
    }
    </script>
</body>
</html>
