<nav class="fixed bg-gray-900 text-white top-0 left-0 z-40 p-4 w-[280px] h-screen transition-transform -translate-x-full sm:translate-x-0">
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-900 text-white">
    <div class="items-center-space-x-4 flex">
      <h4 class="mb-4 text-center text-xl font-semibold">JAFFAR</h4>
    </div>
    <ul class="space-y-2 font-medium mt-4">
      <li>
        <a href="/pc-analytics-jaffar/" class="cursor-pointer flex items-center p-2 rounded-lg text-white hover:bg-gray-700 group">
          <svg class="size-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24">
            <path d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span class="ms-3">Home</span>
        </a>
      </li>
      <li>
        <a href="/pc-analytics-jaffar/search" class="cursor-pointer flex items-center p-2 rounded-lg text-white hover:bg-gray-700 group">
          <svg class="size-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24">
            <path d="M11 19a8 8 0 100-16 8 8 0 000 16zm9-1.5l-3.5-3.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span class="ms-3">Search</span>
        </a>
      </li>
      <div x-data="{ dashboards: [], userEmail: (localStorage.getItem('author2').split('-').pop().trim().toLowerCase() || '').toLowerCase() }" 
           x-init="fetch('/pc-analytics-jaffar/api/sultan/dashboards/list')
            .then(res => res.json())
            .then(data => dashboards = data.filter(d => {
              if (d.isPrivate) {
                return d.authorizedUsers && d.authorizedUsers.includes(userEmail);
              }
              return true;
            }))">
        <template x-for="dashboard in dashboards">
          <li>
            <a :href="`/pc-analytics-jaffar/dashboard/${dashboard.id}`" class="cursor-pointer flex items-center p-2 rounded-lg text-white hover:bg-gray-700 group">
              <svg class="size-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24">
                <path d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <span class="ms-3" x-text="dashboard.name"></span>
            </a>
          </li>
        </template>
      </div>
    </ul>
    <ul class="space-y-2 font-medium absolute inset-x-0 bottom-10">
      <li>
        <a href="/pc-analytics-jaffar/docs" target="_blank" class="cursor-pointer flex items-center p-2 rounded-lg text-white hover:bg-gray-700 group">
          <span class="ms-3">Documentation</span>
        </a>
      </li>
      <li>
        <a href="/pc-analytics-jaffar/feedback" class="cursor-pointer flex items-center p-2 rounded-lg text-white hover:bg-gray-700 group">
          <span class="ms-3">Provide feedbacks</span>
        </a>
      </li>
      <li>
        <a href="/pc-analytics-jaffar/sultan" class="cursor-pointer flex items-center p-2 rounded-lg text-white hover:bg-gray-700 group">
          <span class="ms-3">Go to SULTAN</span>
        </a>
      </li>
      <!-- Demo Mode Toggle -->
      <li>
        <button @click="demoMode = !demoMode; localStorage.setItem('demoMode', demoMode)" 
                class="cursor-pointer flex items-center p-2 rounded-lg text-white hover:bg-gray-700 group">
          <span class="ms-3" x-text="demoMode ? 'Disable Demo Mode' : 'Enable Demo Mode'"></span>
        </button>
      </li>
    </ul>
  </div>
</nav>