run =  ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]
entrypoint = "main.py"
modules = ["python-3.11"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"
packages = ["bash", "glibcLocales"]

[deployment]
run =  ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run Flask App"

[[workflows.workflow]]
name = "Run"
author = 37562832
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 main:app"

[[workflows.workflow]]
name = "Run Both Servers"
author = 37562832
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python fastapi_server.py"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 main:app"

[[workflows.workflow]]
name = "Run Flask App"
author = 37562832
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 main:app"

[objectStorage]
defaultBucketID = "replit-objstore-8f06b167-ee2e-4911-8d12-71ad8c05d333"
