
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Sultan - {% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body class="bg-gray-900 text-white">
    <div class="flex min-h-screen" x-data="{% block alpine_component %}{% endblock %}">
        {% include 'sultan/menu.html' %}
        {% block content %}
        <div class="flex-1 p-8">
            <h1 class="text-4xl font-bold mb-4">Welcome to Sultan</h1>
            <p class="text-gray-300">Supervisory Utilities for Ledger Tools and Accurate Numbers</p>
        </div>
        {% endblock %}
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>
