
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Jaffar - {% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script>
  function jaffar() {
    return {
      page: 'main',
      version: '1.0.0',
      demoMode: false,
      showFormPage() {
        this.page = 'form';
      }
    }
  }
</script>
</head>
<body class="bg-black">
    <div class="mx-auto flex min-h-screen min-w-screen" x-data="{% block alpine_component %}{% endblock %}">
        {% include 'sultan/menu.html' %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>
